footer{
  .footer-inner{
    padding: 70px 0;
    background: #141618;

    .widget{
      @include media-breakpoint-down(sm){
        padding-bottom: 30px;
      }
      .widget-title{
        color: $white;
        font-size: 20px;
        margin-bottom: 15px;
      }

      ul{
        padding-left: 16px;
        margin-bottom: 0;

        li{
          a{
            display: block;
            padding: 6px 0;
            color: $white;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}